[submodule "vim/vim.symlink/bundle/vim-colors-solarized"]
    path = vim/vim.symlink/bundle/vim-colors-solarized
    url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/vim.symlink/bundle/vim-coffee-script"]
	path = vim/vim.symlink/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/vim.symlink/bundle/vim-markdown"]
	path = vim/vim.symlink/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/vim.symlink/bundle/vim-powerline"]
	path = vim/vim.symlink/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "vim/vim.symlink/bundle/vim-fugitive"]
	path = vim/vim.symlink/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/vim.symlink/bundle/vim-javascript"]
	path = vim/vim.symlink/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/vim.symlink/bundle/vim-liquid"]
	path = vim/vim.symlink/bundle/vim-liquid
	url = https://github.com/tpope/vim-liquid.git
[submodule "tmux/tmux.symlink/tmux-powerline"]
	path = tmux/tmux.symlink/tmux-powerline
	url = https://github.com/erikw/tmux-powerline.git
[submodule "vim/vim.symlink/bundle/vim-elixir"]
	path = vim/vim.symlink/bundle/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule "pkg/battery"]
	path = pkg/battery
	url = https://github.com/richo/battery.git
[submodule "vim/vim.symlink/bundle/vimclojure"]
	path = vim/vim.symlink/bundle/vimclojure
	url = https://github.com/vim-scripts/VimClojure.git
[submodule "vim/vim.symlink/bundle/vim-jekyll"]
	path = vim/vim.symlink/bundle/vim-jekyll
	url = https://github.com/parkr/vim-jekyll.git
[submodule "vim/vim.symlink/bundle/vim-go"]
	path = vim/vim.symlink/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/vim.symlink/bundle/vim-puppet"]
	path = vim/vim.symlink/bundle/vim-puppet
	url = https://github.com/rodjek/vim-puppet
[submodule "vim/vim.symlink/bundle/vim-ruby"]
	path = vim/vim.symlink/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim/vim.symlink/bundle/vim-toml"]
	path = vim/vim.symlink/bundle/vim-toml
	url = https://github.com/cespare/vim-toml
[submodule "vim/vim.symlink/bundle/ale"]
	path = vim/vim.symlink/bundle/ale
	url = https://github.com/w0rp/ale.git
[submodule "vim/vim.symlink/bundle/vim-terraform"]
	path = vim/vim.symlink/bundle/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "vim/vim.symlink/bundle/ctrlp.vim"]
	path = vim/vim.symlink/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "vim/vim.symlink/bundle/vim-jsonnet"]
	path = vim/vim.symlink/bundle/vim-jsonnet
	url = https://github.com/google/vim-jsonnet
[submodule "vim/vim.symlink/bundle/kotlin-vim"]
	path = vim/vim.symlink/bundle/kotlin-vim
	url = https://github.com/udalov/kotlin-vim
