[submodule "emacs/emacs.d.symlink/vendor/coffee-mode"]
    path = emacs/emacs.d.symlink/vendor/coffee-mode
    url = git://github.com/defunkt/coffee-mode.git
[submodule "emacs/emacs.d.symlink/vendor/textmate.el"]
    path = emacs/emacs.d.symlink/vendor/textmate.el
    url = git://github.com/defunkt/textmate.el.git
[submodule "vim/vim.symlink/bundle/vim-colors-solarized"]
    path = vim/vim.symlink/bundle/vim-colors-solarized
    url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/vim.symlink/bundle/vim-coffee-script"]
	path = vim/vim.symlink/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/vim.symlink/bundle/vim-ruby-sinatra"]
	path = vim/vim.symlink/bundle/vim-ruby-sinatra
	url = https://github.com/hallison/vim-ruby-sinatra.git
[submodule "vim/vim.symlink/bundle/vim-markdown"]
	path = vim/vim.symlink/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/vim.symlink/bundle/mustache.vim"]
	path = vim/vim.symlink/bundle/mustache.vim
	url = https://github.com/juvenn/mustache.vim.git
[submodule "vim/vim.symlink/bundle/vim-commentary"]
	path = vim/vim.symlink/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/vim.symlink/bundle/vim-powerline"]
	path = vim/vim.symlink/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "vim/vim.symlink/bundle/nerdtree"]
	path = vim/vim.symlink/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/vim.symlink/bundle/vundle"]
	path = vim/vim.symlink/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "vim/vim.symlink/bundle/vim-gitgutter"]
	path = vim/vim.symlink/bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "vim/vim.symlink/bundle/Command-T"]
	path = vim/vim.symlink/bundle/Command-T
	url = git://github.com/wincent/Command-T.git
[submodule "vim/vim.symlink/bundle/vim-fugitive"]
	path = vim/vim.symlink/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/vim.symlink/bundle/vim-golang"]
	path = vim/vim.symlink/bundle/vim-golang
	url = git://github.com/jnwhiteh/vim-golang.git
[submodule "vim/vim.symlink/bundle/vim-javascript"]
	path = vim/vim.symlink/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/vim.symlink/bundle/vim-slim"]
	path = vim/vim.symlink/bundle/vim-slim
	url = https://github.com/slim-template/vim-slim.git
[submodule "vim/vim.symlink/bundle/vim-tcomment"]
	path = vim/vim.symlink/bundle/vim-tcomment
	url = https://github.com/jmartindf/vim-tcomment.git
[submodule "vim/vim.symlink/bundle/vim-jekyll"]
	path = vim/vim.symlink/bundle/vim-jekyll
	url = git@github.com:parkr/vim-jekyll.git
[submodule "vim/vim.symlink/bundle/vim-toml"]
	path = vim/vim.symlink/bundle/vim-toml
	url = https://github.com/cespare/vim-toml.git
[submodule "vim/vim.symlink/bundle/vim-ack"]
	path = vim/vim.symlink/bundle/vim-ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "vim/vim.symlink/bundle/ooc.vim"]
	path = vim/vim.symlink/bundle/ooc.vim
	url = https://github.com/programble/ooc.vim.git
